name: DAST - fastbank-auth-lab

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      working-directory: fastbank-auth-lab
      run: npm install

    - name: Start app
      working-directory: fastbank-auth-lab
      run: npm start &
    
    - name: OWASP ZAP full scan
      uses: zaproxy/action-full-scan@v0.8.0
      with:
        target: http://localhost:3000
