name: DAST - OWASP ZAP Full Scan

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        folder: [
          "canonicalization-example",
          "idor",
          "fastbank_insecure_classwork/backend"
        ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        working-directory: ${{ matrix.folder }}
        run: |
          npm install || true

      - name: Start vulnerable app
        working-directory: ${{ matrix.folder }}
        run: |
          npm start &
          sleep 20

      - name: Run OWASP ZAP full scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'http://host.docker.internal:3000'
          fail_action: false
          report_name: zap-report-${{ matrix.folder }}
          cmd_options: '-a'

      - name: Upload ZAP Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: zap-report-${{ matrix.folder }}
          path: zap-report-${{ matrix.folder }}.html
