name: DAST - ZAP (IDOR)

on:
  workflow_dispatch:

jobs:
  zap-scan:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    
    - name: Install dependencies
      working-directory: ./idor
      run: npm install
    
    - name: Start app
      working-directory: ./idor
      run: |
        npm start &
        sleep 15
    
    - name: Run OWASP ZAP Full Scan
      uses: zaproxy/action-full-scan@v0.4.0
      with:
        target: 'http://localhost:3000'
        fail_action: false
